<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445403674626-eb9pfdv7dhdevrb2hb0hr5015ff3jqih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445403674626-eb9pfdv7dhdevrb2hb0hr5015ff3jqih</string>
	<key>API_KEY</key>
	<string>AIzaSyCMCLrWtuKr1SPhTZklmMnYoohSYfMWFWo</string>
	<key>GCM_SENDER_ID</key>
	<string>445403674626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ViroSD</string>
	<key>PROJECT_ID</key>
	<string>sdfinalproject-97340</string>
	<key>STORAGE_BUCKET</key>
	<string>sdfinalproject-97340.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:445403674626:ios:66ae0ef21a0520b1d80f1b</string>
</dict>
</plist>
